<div id='signup' ng-class="{ 'has-error': (signupForm.username.$error.required && signupForm.username.$dirty) || (signupForm.password.$error.required && signupForm.password.$dirty) }">
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name="username" ng-model='user.username' placeholder="Username" ng-minlength="1" required>
    <input type="password" name="password" ng-model='user.password' placeholder="Password" required>
    <button ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <p ng-show="(signupForm.username.$error.required && signupForm.username.$dirty) || (signupForm.password.$error.required && signupForm.password.$dirty)" class="alert">Please fill in all fields.</p>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
