<div id='signin' ng-class="{ 'has-error': (signinForm.username.$error.required && signinForm.username.$dirty) || (signinForm.password.$error.required && signinForm.password.$dirty) }">
  <h1>Welcome back!</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text' name="username" ng-model='user.username' ng-pattern="/^[A-z][A-z0-9]*$/" ng-minlength="1" ng-required="true" placeholder="Username">
    <input type="password" name="password" ng-model='user.password' ng-minlength="1" ng-required="true" placeholder="Password">
    <input type="submit" ng-disabled="signinForm.$invalid">
  </form>
    <p ng-show="(signinForm.username.$error.required && signinForm.username.$dirty) || (signinForm.password.$error.required && signinForm.password.$dirty)" class="alert">Please fill in all fields.</p>

  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
